{
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "proseWrap": "always",
  "bracketSpacing": true,
  "parser": "flow",
  "endOfLine": "crlf",
  "fileInfoOptions": {
    "withNodeModules": true
  },
  "withNodeModules": true
}
